<div id="gameSettingsPanel" ng-controller="gameSettingsController">
</div>
<div id="resourcesPanel" ng-controller="resourcePanelController">
	<h3>resources</h3>
	<ul>
		<li>
			{{threat.name}}:{{threat.current}}/{{threat.max}}
			<div zg-status-bar percent-full="threat.percentFull"></div>
		</li>
		<li>
			{{morale.name}}:{{morale.current}}/{{morale.max}}
			<div class="status-bar">
				<div class="status-bar-inner" style="right:50%;background-color:lightcoral" ng-style="{'width':morale.percentFullNegative+'%'}"></div>
				<div class="status-bar-inner" style="left:50%;background-color:lightgreen" ng-style="{'width':morale.percentFullPositive+'%'}"></div>
			</div>
			new survivors:
			<div zg-status-bar percent-full="morale.survivorProgressPercent"></div>
			<hr>
		</li>
		<li ng-repeat="r in standardResources" zg-resource="r"></li>
	</ul>
</div>
<div id="locationPanel" ng-controller="locationPanelController">
	<h3>location</h3>
	<div ng-show="activeTab == 'neighborhood'">neighborhood</div>
	<div ng-show="true">
		<ul><li ng-repeat="s in region.subregions" zg-subregion="s"></li></ul>
	</div>
	<div ng-show="activeTab == 'subregion'">subregion</div>
</div>
<div id="logPanel" ng-controller="logController">
	<ul>
		<li>{{messageQueue[0]}}</li>
		<li>{{messageQueue[1]}}</li>
		<li>{{messageQueue[2]}}</li>
		<li>{{messageQueue[3]}}</li>
	</ul>
</div>