
body {
	cursor:default;
	background-size:100%;
	background-image: url(assets/background.jpg);
	font-family: "Roboto";
}
ul {
	list-style:none;
	padding:0px;
}

/* Panels */

.panel {
	background-color: rgba(200,200,200,0.5);
	position:absolute;
	padding:5px;
}
#panel-admin {
	right:0px;
	width:100px;
}

#panel-incomingAttack {
	left:25;
	top:25;
	height:200px;
	width:200px;
}

#panel-resources {
	left:25;
	top:225px;
	height:475px;
	width:200px;
}

#panel-morale {
	left:225px;
	top:25;
	height:100px;
	width:100px;
}

#panel-survivors {
	left:345px;
	top:25;
	height:100px;
	width:560px;
}
#panel-threat {
	left:925px;
	top:25;
	height:100px;
	width:100px;
}
#panel-locations {
	left:225px;
	top:125px;
	height:575px;
	width:800px;
}

h1 {
	margin: 5px;
	text-align:center;
	font-family: "Bangers";
	font-size:28px;
	color:white;
	text-shadow:2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black;
}

/*           */

.threat-counter, .morale-counter {
	font-family: "Bangers";
	font-size:32px;
	text-align:center;
	color:white;
	text-shadow:2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black;
}


/* Resources */

.resource {
	display:table;
}
.resource-label {
	display:inline-block;
	font-size:36px;
	font-weight:bold;
	vertical-align: middle;
	padding:2px;
	min-width:100px;
}

.resource-info {
	display:inline-block;
	vertical-align:middle;
	padding:2px;
}
.resource-info-table {
	display:table;
}
.resource-info-counter {
	display:table-row;
	vertical-align:bottom;
	font-size:16px;
	font-weight: bold;
}
.resource-info-delta {
	display:table-row;
	vertical-align:top;
	font-size:10px;

}

/* Location */

.worker {
	width: 144px;
	height: 144px;
	margin: 5px;
	border-radius: 100%;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: teal;
	background-size:100% 100%;

	width:48px;
	height:48px;
	border-radius:0;
	background-image: url(assets/worker.png);

}

.active-tab {
	color:red;
}

.location {
	width: 160px;
	height: 160px;
	margin: 2px;
	padding: 2px;
	position:relative;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: tan;

	background-color:#333333;
	color:white;
	background-image: url(assets/building.png);
	background-size:100% 100%;

}

.location-worker {
	position: absolute;
	left: 80px;
	margin-left: -24px;
	bottom: 24px;
}


/*status bar*/

.status-bar {
	height: 20px;
	bottom: 1px;
	position: absolute;
	left: 1px;
	right: 1px;
}
.status-bar-inner {
	height:100%;
	position:absolute;
	background-color: rgb(139, 26, 26);
}
.status-bar-label {
	position: absolute;
	height: 100%;
	width: 100%;
	color:white;
	text-shadow:2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black;
	text-align:center;
}


.resource-meter-container {
	position:relative;
	width:100px;
	height:25px;"
}

/* Incoming Attack*/

.incomingAttack-progress {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	text-align:center;
}

.incomingAttack-info {
	display:table;
	width:100%;
	padding-top:10px;
}
.incomingAttack-info div {
	display:table-cell;
	text-align:center;
}
.incomingAttack-info h1 {
	font-size:64px;
}


/* Popup */

.popup-box {
	z-index:9001;
	background-color:white;
	position:fixed;
	width:400px;height:400px;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-200px;
	padding:15px;
	text-align:center;
	vertical-align: middle;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.popup-overlay {
	position:fixed;
	left:0;
	top:0;
	height:auto;
	min-height:100%;
	min-width:100%;
	background-color:gray;
	opacity:.75;
	z-index: 9000;
}





/*

body {
	cursor:default;
	font-family: "Century Gothic";
	font-family: "Roboto", sans-serif;
	background-color:#333333;
}

.active-tab {
	color: white;
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}

h3, h4 {
	color:#aaaaaa;
	text-align:center;
}
table {
	margin-left:auto;
	margin-right:auto;
}
ul {
	display:0;
	margin:0;
}
li {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
ul {
	margin: 0;
}

#locationPanel {
	background-color:lightgray;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding:15px;
	margin:15px;

}
#freeSurvivors {
	min-height: 80px;
}

.worker {
	width: 144px;
	height: 144px;
	margin: 5px;
	border-radius: 100%;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: teal;
	background-size:100% 100%;

	width:48px;
	height:48px;
	border-radius:0;
	background-image: url(assets/worker.png);

}

.wide-info-panel {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: lightgray;
	
	padding: 2px;
	margin: 15px;
}

#content {
	margin-left: 100px;
	margin-right: 100px;
	
	padding:10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: grey;



}

.location {
	width: 160px;
	height: 160px;
	margin: 2px;
	padding: 2px;
	position:relative;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: tan;

	background-color:#333333;
	color:white;
	background-image: url(assets/building.png);
	background-size:100% 100%;

}

.location-worker {
	position: absolute;
	left: 80px;
	margin-left: -24px;
	bottom: 24px;
}

button:active {
background-color: gray;
}
button:hover {
background-color: darkgray;
}
button {
background-color: lightgray;
margin: 4px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
border:0;
}


.status-bar {
	height: 20px;
	bottom: 1px;
	position: absolute;
	left: 1px;
	right: 1px;
}
.status-bar-inner {
	background-color: rgb(139, 26, 26);
	position: relative;
	height: 100%;
}

.resource-meter-container {
	position:relative;
	width:100px;
	height:25px;"
}

*/


/* box-shadows */
/*
.shadow-level-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-level-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-level-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-level-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-level-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
*/
/*
.tooltip {
	font-family:sans-serif;
	font-size:12px;
	position: absolute;
	min-width:200px;
	max-width:500px;
	padding-left:10px;
	color: black;
	background: white;
	text-align: left;
	border-radius: 6px;
	border: 1px solid black;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	z-index: 1000;
	margin-left:115px;
	margin-top:-25px;
}
.tooltip:after {
  content: '';
  position: absolute;
  top: 18px;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 1000;
}
*/
