body {
	cursor:default;
	background-color:black;
	color:white;
	font-family:monospace;
}

button {
	background-color:black;
	border:1px solid white;
	color:white;
}
button:hover {
	background-color:gray;
}

.subregion.subregion-replaceable {
	border-style:dashed;
}
.subregion-clickable .status-bar-inner {
	transition:none;
}
.subregion-clickable .status-bar {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:20px;
	width:auto;
	border:none;
}
.subregion-clickable button {
	margin-bottom:20px;
}

.status-bar {
	border: 1px solid white;
	width: 100px;
	height: 10px;
	position:relative;
}
.status-bar-inner {
	background-color: white;
	position:relative;
	height:100%;
	transition:width 1s;
}

ul {
	list-style-type: none;
	padding:0px;
}

.subregion {
	position:relative;
	border: 1px solid white;
	margin: 10px;
	padding: 10px;
	width: 80%;
}

#resourcesPanel {
	position:absolute;
	left:0;
	width:200px;
	padding-left:10px;
}

#locationPanel {
	position:absolute;
	right:300px;
	left:200px;
}
#logPanel {
	position:absolute;
	right:0;
	width:300px;
	top:300px;
	color:gray;
}
#statusPanel {
	position:absolute;
	right:0px;
	top:0px;
	width:300px;
	height:300px;
}
.log-message-new {
	color:white;
	transition:color 0s;
}
.log-message {
	color:gray;
	transition:color 1s;
}
.status-indicator {
	display:inline;
	border: 1px solid white;
	width: 100px;
	height: 20px;
	line-height: 20px;
	margin: 10px;
	text-align: center;
}

.tab-link {
	color:gray;
}
.active-tab-link {
	color:white;
}

.tooltip {
	font-family:sans-serif;
	font-size:12px;
	position: absolute;
	min-width:150px;
	max-width:500px;
	padding-left:10px;
	color: black;
	background: white;
	text-align: left;
	border-radius: 6px;
	border: 1px solid black;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	z-index: 1000;
	margin-left:115px;
	margin-top:-25px;
}
.tooltip:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 1000;
}
