<div class="subregion" ng-class="{'subregion-replaceable':s.replaceable}">
	<span>{{s.name}}</span>
	<div ng-show="s.upgradeable">
		<span>level: {{s.level}} </span><button ng-click='s.upgrade()'>upgrade</button>
		<span><ul><li ng-repeat="(resource, value) in s.upgradeCost">{{resource}}:{{value}}</li></ul></span>
	</div>
	<div ng-show="s.replaceable" >
		<button ng-click="gotoSubregion(s)">replace</button>
	</div>
	<div ng-show="s.workable">
		<span>workers:</span><button ng-click='s.removeWorker()'>-</button><span>{{s.currentWorkers}}</span><button ng-click='s.addWorker();'>+</button>
	</div>
	<div ng-show="s.clickable" style="text-align:center" class="subregion-clickable">
		<button ng-click='s.launchTask()'>{{s.clickText}}</button>
		<div ng-click='s.launchTask()' zg-status-bar percent-full="s.percentFull"></div>
	</div>

</div>